.carousel {
  margin: 0 auto;
  width: 100%;
}

.hs-carousel-slide {
  transition: opacity 1s ease;
  border-radius: 0;
}

.hs-carousel-slide .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hs-carousel-slide span {
  font-size: 2rem;
}
